<nav class="navbar navbar-expand-lg " style="background-color: #012E40;">
  <div class="container-fluid" >
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"  style="gap: 5px;">
        <li class="nav-item" style="background-color:white; border-radius: 15px; height: auto; padding: none;">
          <a class="nav-link active" aria-current="page" href="#" style="color: #012E40;">Home</a>
        </li>
        <li class="nav-item" style="background-color:white; border-radius: 15px;">
          <a class="nav-link" href="#" style="color: #012E40;">Sobre</a>
        </li>
        
         
        </li>
        <li class="nav-item" style="background-color:white; border-radius: 15px;">
          <a class="nav-link disabled" style="color: #012E40;">Contato</a>
        </li>
      </ul>
      <div class="d-flex" style="gap: 3px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
            Perfil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:white;">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Cadastrar-se</a></li>
            <li><hr class="dropdown-divider">Entrar</li>
            <li><a class="dropdown-item" href="#">Sair</a>    
      </div>
      <a class="navbar-brand" href="#" style="color:white;">log perfil<img src="" alt=""></a>
    </div>
  </div>
</nav>