<nav class="navbar navbar-expand-lg extra">

  <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<box-icon name='menu' color='#ffffff' ></box-icon>    </button>
    
    <div class="collapse navbar-collapse hipo" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-icon-st">

        <li class="nav-item">
          <a class="nav-link " href="/inicio">
            <box-icon name='home-alt-2' type='solid' color="#fff" id="hipo"></box-icon>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/sobre">
            <box-icon type='solid' name='news' color="#fff" id="hipo"></box-icon>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/contato">
            <box-icon name='telegram' type='logo' color="#fff" id="hipo"></box-icon>
          </a>
        </li>

      </ul>
  </div>
    </div>
  <div class="profileitems">


       <li class="nav-item" style="list-style: none;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
            Opções
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown" >
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="/cadastrar">Cadastrar-se</a></li>
            <li><a class="dropdown-item" href="/entrar">Entrar</a></li>
            <li><a class="dropdown-item" href="#">Sair</a></li> 
          </ul> 
    </li>
      
      
      <a class="navbar-brand redondo" href="#" style="color:white;">
<box-icon name='user' type='solid' color='#f9f4f4' ></box-icon></a>
  </div>



</nav>