<footer class=" text-center text-white" id="footer">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Instagram -->
      <a class="btn btn-outline-gray btn-floating m-1" href="#!" role="button">
        <box-icon name='github' type='logo' color='#ffffff' ></box-icon></a>

      <!-- google -->
      <a class="btn btn-outline-gray btn-floating m-1" href="#!" role="button"
        ><box-icon name='heroku' type='logo' color='#ffffff' ></box-icon></a>

      <!-- Github -->
      <a class="btn btn-outline-gray " href="#!" role="button">
<box-icon name='instagram' type='logo' color='#ffffff' ></box-icon></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022:
    <a class="text-white" href="https://github.com/Vitorhugofsousa/Avalanche">It's Like an Avalanche.</a>
  </div>
  <!-- Copyright -->
</footer>