.main {
    width: 100%;
}
#divselect{
    display: flex;
    flex-direction: row;
}
#img-cardhome{
    
    border-radius: 5px;
    
    max-width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    

}

#carouselExampleControls1, #carouselExampleControls2{
    width: 270px;

}

.carousel-item{
    width: 100%;
}
.carousel-item img{
    border: 0.1px solid rgb(194, 194, 194);
    height: 350px;
    width: 100px;
    display: flex;
} 


.btn-outline-charcoal{
    color: #012E40;
    border: 1.3px solid  #012E40;
}

.btn-outline-charcoal:hover{
    background-color: #012E40;
    border-color: #012E40;
color: white;
}

.uni-height{
    height: 60px;
}
