* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #343a40;
}

.nav-item a{
    margin: 0 10px;
    display: flex;
    border-radius: 3px;
    transition: 0.2s ease-in;
}
.nav-item:hover a{
    background-color: #012E40;
    transform: translateY(25px) scale(1.1);
} 
.redondo{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.redondo img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}