* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.extra{
     background-color: #012E40;
     position: sticky;
     align-items: baseline;
     width: 100%;
      flex-direction: row;
    justify-content:right;
    height: auto;
    padding: 30px 35px 40px 45px;

}



.profileitems{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}

#nav-icon-st{
    gap: 5px;
    align-items: left;
    justify-content: center;
}

#hipo {
    height: 40px;
    width: 20px;
    width: auto;
    padding: 7px;
    margin:  5px;
    display: flex;
    border-radius: 4px;
    transition: 0.2s ease-in;
}
#hipo:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(10px) scale(1.1);
} 

.redondo{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.redondo img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}




