<div class="card w-50 container ">
<div class="card-body mt-3">
  
  <h2>Cadastrar-se</h2>
  <hr>


<form action="" method="POST">
  <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Nome:</label>
    <input type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Digite o seu nome de usuário">
  </div>
  <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Digite o seu E-mail">
    <div id="emailHelp" class="form-text">Nós não compartilhamos os seus dados com terceiros</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" id="senha" placeholder="Digite a sua senha">
  </div>
  <button type="submit" class="btn btn-outline-dark btn-lg">Cadastrar-se</button>

</form>
  <hr>
<div class="d-flex justify-content-between">

<p>Já tem uma conta?</p>
  <a href="/entrar"><button class="btn btn-outline-dark">Entrar</button></a>

</div>

  </div>
</div>
<br>