<div class="card w-50 container ">
<div class="card-body mt-3">
  <h2>Entrar:</h2>
  <hr>
<form action="" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Digite o seu E-mail">
    <div id="emailHelp" class="form-text">Nós não compartilhamos os seus dados com terceiros</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" id="senha" placeholder="Digite a sua senha">
  </div>
  <button type="submit" class="btn btn-outline-charcoal btn-lg">Entrar</button>
</form>
 <hr>
<div class="d-flex justify-content-between">

<p>Ainda não tem uma conta?</p>
  <a href="/cadastrar"><button class="btn btn-outline-charcoal">Cadastre-se</button></a>

</div>
</div>
</div>
<br>